:root {
  --bg: #ffffff;
  --text: #ffffff;

  font-family: system-ui, sans-serif;

  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

/* Optional paragraph styles */
p {
  color: white;
}